<%- include('header', {
  tabTitle: "Contact",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Contact",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "",
  Team: "",
  Contact: "active",

}); %>

<%- include('BodyTextOpen') -%>
  <ul class="list-unstyled">
    <li><u>Person P. Person</u></li>
    <li>Title of person</li>
    <li>email@email.com</li>
  </ul>

  <ul class="list-unstyled">
    <li><u>Person P. Person</u></li>
    <li>Title of person</li>
    <li>email@email.com</li>
  </ul>

  <ul class="list-unstyled">
    <li><u>Person P. Person</u></li>
    <li>Title of person</li>
    <li>email@email.com</li>
  </ul>

  <ul class="list-unstyled">
    <li><u>Person P. Person</u></li>
    <li>Title of person</li>
    <li>email@email.com</li>
  </ul>

<%- include('BodyTextClose') -%>


<%- include('footer'); -%>
