<%- include('header', {
  tabTitle: "Investments",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Investments",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "active",
  Team: "",
  Contact: "",

}); %>

<% console.log(investdata[0]); %>

<div class="container px-4">
  <div class="row g-2">
    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      ID: investdata[0].id,
      Company: investdata[0].profile.company,
      Description: investdata[0].profile.about,
      Address: investdata[0].profile.address
    }); %>
    
  </div>
</div>


<%- include('footer'); -%>
