<%- include('header', {
  tabTitle: "Investments",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Investments",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "active",
  Team: "",
  Contact: "",

}); %>


<div class="container px-4">
  <div class="row g-2">
    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/seed/picsum/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>


    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>

    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>


    <%- include('RevealCard', {
      ImgSrc: "https://picsum.photos/id/237/200/200",
      Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis."
    }); %>
  </div>
</div>


<%- include('footer'); -%>
