<%- include('header', {
  tabTitle: "Home",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Investments of the Imperium",
  BannerSubtitle: ""
}); %>

<div class="container-fluid row">
  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/seed/picsum/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>

  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/id/237/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>

  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/id/237/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>

  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/seed/picsum/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>

  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/id/237/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>


  <%- include('RevealCard', {
    ImgSrc: "https://picsum.photos/id/237/200/300",
    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tortor maximus risus cursus sollicitudin vestibulum ut enim. Praesent at est vitae ex tincidunt porta ut in metus. In lobortis mi at augue facilisis, ut vestibulum neque mattis. Mauris bibendum metus in mauris mollis consequat. Cras non purus eros."
  }); %>


</div>


<%- include('footer'); -%>
