


<%- include('header', {
  tabTitle: "Team",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Team",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "",
  Team: "active",
  Contact: "",

}); %>

<%- include('BodyTextOpen') -%>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <br/>

  <% teamdata.map((item) => { %>
    <% let link = "Team/" + item.profile.name + ".html"; %>
    <% let body = item.profile.about.substring(0, 120); %>
    
    <%- include('TeamCard', {
      Link: link,
      Name: item.profile.name,
      Title: item.id,
      Body: body,
      ImgSrc: "https://picsum.photos/id/130/200/300",
      ImgAlt: "..."
    }); -%>

  <% }); %>

  
  <br/>
  <h6 style="color: black;"><em>CHOAM - slogan slogan slogan</em></h6>

<%- include('BodyTextClose') -%>


<%- include('footer'); -%>
