<%- include('header', {
    tabTitle: "Team",
    favicon: "CHOAM_flag.ico",
  }); -%>
  
  <%- include('navbar', {
    Logo: "CHOAM_flag.svg",
    BannerTitle: "Team",
    BannerSubtitle: "Lorem ipsum dolor sit amet",
    Home: "",
    Philosophy: "",
    Investments: "",
    Team: "active",
    Contact: "",
  
  }); %>
  
  <div class="container text-justify">
    <div class="row" style="margin: auto;">
      <div class="col-md-3 text-left">
        <div>
            <% tList.map((item) => { %>
                <% let link = "/" + item; %>
                <% let classname = "list-group-item list-group-item-dark border-danger"; %>
                <% if (item === member.profile.name) { classname = classname + " active" } %>
                <a href="<%= link %>" class="<%= classname %>">
                    <%= item %>
                  </a>
            <% }); %>
        </div>
        <hr>
        <h6><b>Combine Honnete Ober Advancer Mercantiles</b></h6>
        <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</em></p>
      </div>
      <div style="margin-right: 3em;"></div>
      <div style="background-color: red; width: 1px; margin-right: 1em;">
  
      </div>
  
      <div class="col-md-8">
    
    
    <h5><%= member.profile.name %></h5>
    <h6><i><%= member.id %></i></h6>
    <h6><a href="mailto:<%= member.email %>" target="_blank"><%= member.email %></a></h6>
    <hr>
    
    <% let num = Math.floor(Math.random() * (100 - 0 + 1) + 0) %>
    <img src="https://picsum.photos/id/<%= num %>/200/200" alt="placeholder" align="right" style="margin-left: 14px" />
    <p><%= member.profile.about %></p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br/>

    <h6 style="color: black;"><em>CHOAM - slogan slogan slogan</em></h6>
  
  <%- include('BodyTextClose') -%>
  
  
  <%- include('footer'); -%>
  