<%- include('header', {
  tabTitle: "Team",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Team",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "",
  Team: "active",
  Contact: "",

}); %>

<%- include('BodyTextOpen') -%>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <br/>
  <hr />
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/id/130/200/300" class="img-fluid" alt="..." style="width: auto; height: 195px;">
    </div>
  </div>

  <hr />
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/id/130/200/300" class="img-fluid" alt="..." style="width: auto; height: 195px;">
    </div>
  </div>

  <hr />
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/id/130/200/300" class="img-fluid" alt="..." style="width: auto; height: 195px;">
    </div>
  </div>

  
  <br/>
  <h6 style="color: black;"><em>CHOAM - slogan slogan slogan</em></h6>

<%- include('BodyTextClose') -%>


<%- include('footer'); -%>
